{% if site.ga_id %}
  <!-- Google Analytics (http://google.com/analytics) -->
  <script>
    !function(o,m,n,i,z,y,a){o.GoogleAnalyticsObject=n;o[n]||(o[n]=function(){
    (o[n].q=o[n].q||[]).push(arguments)});o[n].l=+new Date;y=m.createElement(i);
    a=m.getElementsByTagName(i)[0];y.src=z;a.parentNode.insertBefore(y,a)}
    (window,document,'ga','script','//www.google-analytics.com/analytics.js');
    
    ga('create', '{{ site.ga_id }}', 'omnizya.com');
    ga('require', 'GTM-T8J9VVV');
    ga('send', 'pageview');

  </script>
{% endif %}

