<aside id="sideBar" class="skel-layers-fixed">
    <header class="userInfo">
        <span class="image avatar"><img src="images/avatar.jpg" alt="{{ site.title }}" /></span>
        <h1 id="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="#two">Things I Can Do</a></li>
            <li><a href="#three">A Few Accomplishments</a></li>
            <li><a href="#four">Contact</a></li>
        </ul>
    </nav>
    <footer class="socialProfile">
        <ul class="icons">
            {% if site.twitter %}
            <li>
                <a href="https://twitter.com/{{ site.twitter }}" class="icon fa-twiter">
                    <span class="label">{{ site.twitter }}</span>
                </a>
            </li>
            {% endif %} {% if site.google %}
            <li>
                <a href="https://google.com/{{ site.github }}" class="icon fa-google">
                    <span class="label">{{ site.google }}</span>
                </a>
            </li>
            {% endif %} {% if site.facebook %}
            <li>
                <a href="https://facebook.com/{{ site.facebook }}" class="icon fa-facebook">
                    <span class="label">{{ site.facebook }}</span>
                </a>
            </li>
            {% endif %} {% if site.github %}
            <li>
                <a href="https://github.com/{{ site.github }}" class="icon fa-github">
                    <span class="label">{{ site.github }}</span>
                </a>
            </li>
            {% endif %} {% if site.email %}
            <li>
                <a href="mailto:{{ site.email }}" class="icon fa-send">
                    <span class="label">{{ site.email}}</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </footer>
</aside>
