<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <script defer src="https://unpkg.com/@tinybirdco/flock.js" data-host="https://api.tinybird.co" data-token="p.eyJ1IjogIjEwM2EzNWFhLWJjNmMtNDBjNi05NDkyLTQ4ZmUwZjc4YTkyMCIsICJpZCI6ICJjNDYwYWZiNy1hMzVhLTQwMGMtOTYxMC0wZmNlOTJhZGE3MzYifQ.0H78tyus9yYFz4gpdyGX-tqb4oOtqrjoBGfRqKJChe4"></script>
  {% include meta_tags/base.html %}
  {% include externals/g.html %}
  <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
  {% include meta_tags/sharing.html %}
</head>
