<header class="header">
    <div class="navigation">
        <a href="/" class="logo">{{ site.title }}</a>

        <ul class="menu">
            <li class="menu__entry"><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
            <li class="menu__entry"><a href="{{ '/' | prepend: site.baseurl }}">Blog</a></li>
            <li class="menu__entry"><a href="{{ '/projects' | prepend: site.baseurl }}">Projects</a></li>
        </ul>
    </div>
    <a href="/" class="social-links__entry center">
    <div class="logo-container">
        <svg xmlns="http://www.w3.org/2000/svg" id="logo" viewBox="-711 25 512 512">
          {% if page.color %}
          <style>
            .st0{fill: #{{ page.color }} ;}
            svg:hover { opacity: 0.8; }
          </style>
          {% endif %}
          <path id="cube" d="M-309.2 206.5L-455 131.7l-145.8 74.8v146.6l145.8 78 145.8-77.1V206.5zm-250 25.5l83.3-42.8v79.1l-83.3 42.8V232zm104.3 151.9l-75.8-40.5 75.5-38.8 74.8 40-74.5 39.3zm104.1-70.8l-83.3-44.6v-79.3l83.3 42.8v81.1z" class="st0"/>
          <path id="hexagone" d="M-455 531l229.2-125V153.3L-455 31l-229.2 122.3v251.4L-455 531zm-187.5-352.8l187.5-100 187.5 100v203l-187.4 102.2L-642.5 380V178.2z" class="st0"/>
        </svg>
    </div>
    </a>
    <ul class="social-links">
        {% if site.author.github %}
        <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
            <i class="fa fa-github-alt" aria-hidden="true"></i>
        </a>
        {% endif %} {% if site.author.twitter %}
        <a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        {% endif %} {% if site.author.googleplus %}
        <a href="https://google.com/{{site.author.googleplus}}" class="social-links__entry" target="_blank">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
        </a>
        {% endif %}
    </ul>
</header>
