---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Moughamir Mohamed"
  description="About Moughamir Mohamed Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="273"
          src="/assets/at-work.jpg"
          alt="Moughamir Mohamed at work with a colleague"
        />
      </Hero>

      <section class="max-w-prose">
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I have a rich background in both design and development, which
            allows me to create seamless and visually appealing user
            experiences.
          </p>
          <p>
            My expertise spans across various technologies, including HTML, CSS,
            JavaScript, React, Node.js, and databases like MongoDB and MySQL.
          </p>
          <p>
            I am dedicated to staying ahead of the curve in the ever-evolving
            world of web development and design.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            I possess a Bachelor of Science degree in Computer Science from
            Harvard University. During my academic tenure, I acquired a
            comprehensive understanding of programming principles, software
            engineering methodologies, and web technologies. This rigorous
            education has provided me with the essential skills and theoretical
            knowledge required to excel in the domains of web development and
            design.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            <strong> Full Stack Development:</strong> Comprehensive understanding
            of both front-end and back-end technologies. I excel in creating responsive
            and user-friendly web applications.
          </p>
          <p>
            <strong>Industry Leader: </strong>Recognized for my innovative
            approach and commitment to excellence.<br /> I lead by example, inspiring
            others to push the boundaries of what's possible.
          </p>
          <p>
            <strong>Strategy-Minded:</strong> Develop and execute comprehensive plans
            that drive success.<br /> My strategic approach ensures that every project
            is aligned with the overall vision and objectives.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Professional Experience</h2>
        <div class="content">
          <p>
            At Hatom Labs, I developed a virtual showcase for a blockchain token
            project, handling both design and development. I ensured a seamless,
            visually appealing user experience, showcasing my expertise in
            branding and web development.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Personal Projects</h2>
        <div class="content">
          <p>
            One of my notable projects is Bloom Box, where I paired with a
            cutting-edge music API and a team of horticulturalists to build
            AI-generated playlists that maximize houseplant health. This project
            highlights my ability to create innovative digital solutions that
            enhance user experiences.
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
