<meta
  charset="UTF-8" />
<meta
  http-equiv="X-UA-Compatible"
  content="IE=edge"/>
<meta
  name="viewport"
  content="width=device-width, initial-scale=1" />
<meta
  name='dmca-site-verification'
  content='SGVCeVZxZkVjUDN2YzgxVnBqamZrUT090' />
<title>
  {% if page.title %} {{ page.title }} — {{ page.subtitle }} &raquo; {% endif %} {{ site.title }}
</title>
<meta
  name="description"
  content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
/>
{% if page.tags %}
<meta name="keywords" content="{{ page.tags | join: ', ' }}"/>
{% endif %}
<link
  rel="canonical"
  href="{{ page.url | replace:'index.html','' | prepend: site.url }}"/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="assets/images/touch/apple-touch-icon.png?v=0.2"/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="assets/images/touch/favicon-32x32.png?v=0.2"/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="assets/images/touch/favicon-16x16.png?v=0.2"/>
<link
  rel="manifest"
  href="/app.manifest?v=0.2" />
<link
  rel="mask-icon"
  color="#333333"
  href="assets/images/touch/safari-pinned-tab.svg?v=0.2"/>
<link
  rel="shortcut icon"
  href="/favicon.ico?v=0.2"/>

<meta
  name="apple-mobile-web-app-title"
  content="{{site.title}}"/>
<meta
  name="application-name"
  content="{{site.title}}"/>
<meta
  name="msapplication-config"
  content="browserconfig.xml?v=0.2"/>
<meta
  name="theme-color"
  content="#f5f5f5" />
<link
  rel="stylesheet"
  href="{{ '/css/main.css' | prepend: site.baseurl }}"/>
<link
  rel="canonical"
  href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
<link
  rel="alternate"
  type="application/rss+xml"
  title="{{ site.title }}"
  href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />
