{% if page.title %} {% assign title = page.title ~ ' - ' ~ page.subtitle %} {% else %} {% assign title = site.title %} {% endif %}
{% if page.description %} {% assign description = page.description %} {% else %} {% assign description = site.description %} {% endif %}
{% if page.keywords %} {% assign keywords = page.keywords %} {% else %} {% assign keywords = site.keywords %} {% endif %}
{% if page.cover %} {% assign cover = page.cover %} {% else %} {% assign cover = site.cover %} {% endif %}

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="{{ cover | prepend: site.url }}" />
<meta name="twitter:site" content="{{site.twitter}}">
<meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

<!-- Google plus -->
<meta name="author" content="{{ site.author.fullname }}">
<link rel="author" href="https://google.com/{{ site.author.googleplus }}">
<link rel="author" href="https://www.google.com/profiles/{{site.google}}">
<meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta itemprop="description" name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="content">

<!-- Open Graph -->
<meta itemprop="image" content="{{ site.url }}/static/images/html5rocks-logo-wings.png">
<meta property="fb:app_id" content="{{ site.fbapp }}">
<meta property="og:locale" content="{{ site.lang }}">
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ title }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:description" content="{{ description }}">
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:image" content="{{ cover }}">
<meta property="og:image" content="{{ site.url }}/static/images/html5rocks-logo-wings.png" />
<meta property="article:publisher" content="https://github.com/{{ site.author.github }}" />
<meta property="article:author" content="https://github.com/{{ site.author.github }}" />
