---
interface Props {
  title: string;
  tagline?: string;

  align?: "start" | "center";
}

const { align = "center", tagline, title } = Astro.props;
---

<div class:list={["hero stack gap-4", align]}>
  <div class="stack gap-2">
    <h1 class="title">{title}</h1>
    {tagline && <p class="tagline">{tagline}</p>}
  </div>
  <slot />
</div>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 6rem 0;
    gap: 1.5rem;
  }

  .title {
    font-size: clamp(2.5rem, 9vw, 5.5rem);
    font-weight: 800;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    color: var(--gray-0);
  }

  .tagline {
    font-size: 1.25rem;
    color: var(--gray-200);
    max-width: 55ch;
    margin-inline: auto;
    font-weight: 600;
    line-height: 1.5;
  }

  @media (min-width: 50em) {
    .hero {
      text-align: start;
      padding: 8rem 0;
    }

    .start .tagline {
      margin-inline: unset;
    }
  }
</style>
