---
interface Props {
  title: string;
  tagline?: string;

  align?: "start" | "center";
}

const { align = "center", tagline, title } = Astro.props;
---

<div class:list={["hero stack gap-4", align]}>
  <div class="stack gap-2">
    <h1 class="title">{title}</h1>
    {tagline && <p class="tagline">{tagline}</p>}
  </div>
  <slot />
</div>

<style>
  .hero {
    font-size: var(--text-lg);
    text-align: center;
    padding: 4rem 0;
  }

  .title {
    font-size: clamp(2.5rem, 8vw, 5rem);
    font-weight: 900;
    line-height: 0.9;
    text-transform: uppercase;
    letter-spacing: -0.04em;
    color: var(--gray-0);
    margin-bottom: 1.5rem;
  }

  .tagline {
    font-size: var(--text-lg);
    color: var(--gray-200);
    max-width: 50ch;
    margin-inline: auto;
    font-weight: 500;
  }

  @media (min-width: 50em) {
    .hero {
      text-align: start;
      padding: 6rem 0;
    }

    .start .title,
    .start .tagline {
      margin-inline: unset;
    }
  }
</style>
