---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <h2>Bref</h2>

  <p>
    A seasoned <b>Full Stack Developer</b> with 9+ years of experience:
  </p>
  <ul>
    <li>✓ Designing intuitive web & mobile apps</li>
    <li>✓ Leading teams to ship scalable solutions</li>
    <li>✓ Contributing to open-source ecosystems</li>
    <li>✓ Featured in TechCrunch, Medium, and awwwards</li>
  </ul>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
